/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0a3055;
  background-color: #b6c5d6;
}
body {
  margin: 1%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-family: 'Ubuntu', sans-serif;
}
/************TEST BORDER*********************/
/************TEST BORDER*********************/
.header nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 -10% 0 2%;
}
.header nav a {
  color: #0a3055;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 3%;
  justify-content: space-around;
  align-items: center;
}
.header nav a:hover {
  background-color: rgba(255, 146, 5, 0.5);
  font-weight: bolder;
  border-radius: 5px;
  padding: 3% 0;
  transition-duration: 0.5s;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer a {
  color: #0a3055;
  font-size: 2rem;
  padding: 0 2.5%;
}
@media (max-width: 500px) {
  .footer a {
    font-size: 1.5rem;
  }
}
.top {
  display: flex;
  justify-content: center;
  background: url(/img/orange-on-plate.jpg) no-repeat center center;
  background-size: auto;
  padding-bottom: 630px;
}
.header {
  display: flex;
  background: rgba(240, 248, 255, 0.3);
  width: 40%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.header .logo {
  width: 25%;
}
.header .titleNav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.header .titleNav h1 {
  width: 100%;
  padding-left: 10%;
  letter-spacing: 20px;
}
.header .titleNav .nav {
  width: 80%;
  height: auto;
  margin-left: 15%;
}
.header .titleNav .nav nav {
  display: flex;
  align-items: center;
}
.header .titleNav .nav nav a {
  padding: 5%;
}
.middle {
  display: flex;
  flex-wrap: wrap;
  width: 100% auto;
  margin-top: 1%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 248, 255, 0.2);
  justify-content: center;
}
.middle #what {
  display: flex;
  width: 80%;
  background-color: rgba(250, 235, 215, 0.25);
  border-radius: 5px;
  padding: 5%;
  margin-bottom: 2%;
}
@media (max-width: 860px) {
  .middle #what {
    justify-content: center;
    width: 100%;
  }
}
.middle #what h2 {
  font-weight: bold;
  letter-spacing: 10px;
}
@media (max-width: 860px) {
  .middle #what h2 {
    font-size: 3rem;
    text-align: center;
  }
}
.middle #what p {
  font-size: 2rem;
  padding-top: 2%;
}
.middle #how {
  display: flex;
  width: 80%;
  padding: 5%;
  background-color: rgba(250, 235, 215, 0.25);
  border-radius: 5px;
  justify-content: center;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .middle #how {
    flex-wrap: wrap;
  }
}
@media (max-width: 860px) {
  .middle #how {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .middle #how {
    flex-direction: column;
    align-items: center;
  }
}
.middle #how h2 {
  flex-wrap: wrap;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 5%;
  width: 100% auto;
}
@media (max-width: 1000px) {
  .middle #how h2 {
    font-size: 3rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .middle #how h2 {
    font-size: 2.4rem;
    padding-bottom: 2%;
  }
}
.middle #how .business {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  padding-right: 4%;
  justify-content: center;
}
@media (max-width: 500px) {
  .middle #how .business {
    width: 70%;
    padding-bottom: 10%;
    padding-right: 0;
  }
}
.middle #how .volunteer {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}
@media (max-width: 500px) {
  .middle #how .volunteer {
    width: 70%;
  }
}
.middle #how h3 {
  text-align: left;
}
@media (max-width: 1000px) {
  .middle #how h3 {
    text-align: center;
    font-size: 2.4rem;
    width: 100% auto;
  }
}
@media (max-width: 500px) {
  .middle #how h3 {
    font-size: 2rem;
    padding-top: 3%;
    font-weight: 600;
  }
}
.middle #how p {
  font-size: 2rem;
  padding-top: 8%;
  text-align: justify;
}
@media (max-width: 500px) {
  .middle #how p {
    padding-top: 1%;
  }
}
.middle #how .btn {
  font-size: 1.6rem;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  letter-spacing: 2px;
}
.middle #how .btn:hover {
  background-color: rgba(255, 146, 5, 0.5);
  font-weight: bolder;
  color: white;
  font-variant-caps: titling-caps;
}
.middle #who {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  margin-top: 2%;
  width: 80%;
  background-color: rgba(250, 235, 215, 0.25);
  border-radius: 5px;
  justify-content: center;
}
@media (max-width: 860px) {
  .middle #who {
    width: 100%;
  }
}
.middle #who h2 {
  font-weight: bold;
  padding-bottom: 10%;
}
@media (max-width: 860px) {
  .middle #who h2 {
    font-size: 3rem;
  }
}
.middle #who .bio {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 860px) {
  .middle #who .bio h3 {
    font-size: 2.2rem;
  }
}
.middle #who .bio .amir {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10%;
}
.middle #who .bio .amir div {
  width: 50%;
  padding-left: 10%;
}
.middle #who .bio .amir a img {
  width: 50%;
}
.middle #who .bio .amir .img {
  width: 50%;
  padding: 0 10%;
}
.middle #who .bio .ari {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  padding-bottom: 10%;
}
.middle #who .bio .ari div {
  width: 50%;
}
.middle #who .bio .ari a img {
  width: 40%;
}
.middle #who .bio .ari .img {
  width: 50%;
  padding: 0 10%;
}
.middle #who .bio .gurpreet {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10%;
}
.middle #who .bio .gurpreet div {
  width: 50%;
  padding-left: 10%;
}
.middle #who .bio .gurpreet a img {
  width: 50%;
}
.middle #who .bio .gurpreet .img {
  width: 50%;
  padding: 0 10%;
}
.middle #who .bio .rockey {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  padding-bottom: 10%;
}
.middle #who .bio .rockey div {
  width: 50%;
}
.middle #who .bio .rockey a img {
  width: 40%;
}
.middle #who .bio .rockey .img {
  width: 50%;
  padding: 0 10%;
}
.middle #who .bio .william {
  display: flex;
  width: 100%;
  align-items: center;
}
.middle #who .bio .william div {
  width: 50%;
  padding-left: 10%;
}
.middle #who .bio .william a img {
  width: 50%;
}
.middle #who .bio .william .img {
  width: 50%;
  padding: 0 10%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2%;
  justify-content: center;
}
footer div {
  display: flex;
  width: 100%;
}
footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 1%;
}
