/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0a3055;
  background-color: #b6c5d6;
}
body {
  margin: 1%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 5rem;
  letter-spacing: 30px;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
/************TEST BORDER*********************/
body {
  border: 1px solid gray;
}
header {
  border: 1px solid gray;
}
div {
  border: 1px solid gray;
}
h1,
h2,
h3,
h4,
h5 {
  border: 1px solid gray;
}
a {
  border: 1px solid gray;
}
p {
  border: 1px solid gray;
}
nav {
  border: 1px solid gray;
}
footer {
  border: 1px solid gray;
}
img {
  border: 1px solid gray;
}
/************TEST BORDER*********************/
.header nav {
  display: flex;
  width: 40%;
  padding-left: 2%;
  justify-content: center;
}
.header a {
  display: flex;
  font-size: 2.5rem;
  text-decoration: none;
  margin: 0 5%;
  justify-content: space-between;
  align-items: center;
}
footer div {
  display: flex;
  padding-left: 2%;
  justify-content: center;
}
footer a {
  display: flex;
  font-size: 2.5rem;
  text-decoration: none;
  margin: 0 5%;
  justify-content: space-between;
  align-items: center;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.top {
  display: flex;
  background: url(/img/orange-on-plate.jpg) no-repeat center center;
  padding-bottom: 630px;
}
.header {
  display: flex;
  background: rgba(240, 248, 255, 0.3);
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 5%;
}
.header h1 {
  margin: 2% 0;
}
.header .logo {
  width: 9%;
}
.logo img {
  display: flex;
  justify-content: center;
  height: 100% auto;
  width: 100% auto;
  background-size: 100% auto;
}
