.top div{
    display: flex;
    width: 100%;
}
.top img{
    display: flex;
    width: 100%;
}
.top .header{
    display:flex;
    position: absolute;
    width: 97.7%;
}
.header div{
    display: flex;
    padding: 0px;
    width: 100%;
    justify-content: center;
}

.header h1{
    font-size: 5rem;
    letter-spacing: 30px;
    width: 50%;
    margin: 2% 5%;
}